body{
    background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
  }

  
  .container {
    color: rgb(0, 0, 0);
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  h2{
    color: rgb(0, 0, 0);
    text-align: center;
 

  }
  
  details{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 20px;
  
  }
  
  summary {
    padding: 10px 15px;
    list-style: none;
    display: flex;
    justify-content: space-between;  
    transition: height 1s ease;
  }
  
  summary::-webkit-details-marker {
    display: none;
  }
  
  summary:after{
    content: "\002B";
  }
  
  details[open] summary {
      border-bottom: 1px solid #aaa;
      margin-bottom: 10px;
  }
  
  details[open] summary:after{
    content: "\00D7";
  }
  
  details[open] div{
    padding: 10px 10px;
  }