<div class="container">
    <br>
    <h2>FREQUENTLY ASKED QUESTIONS (FAQ)</h2>
    <h5>FIND THE ANSWERS FOR THE MOST FREQUENTLY ASKED QUESTIONS BELOW</h5>
    <br>
    <details>
        <summary>Can you add students into this system?</summary>
        <div>
           <em>Absolutely! By clicking the add students you will be redirected to add students page.</em> 
        </div>
    </details>
    <details>
        <summary>Can you edit, delete and list all students?</summary>
        <div>
            <em>Yes, it is possible! By clicking the edit, delete and list you will be redirected to aedit, delete and list page.</em> 
        </div>
    </details>
    <details>
        <summary>How long does it takes to develop this web-application?</summary>
        <div>
            <em>Not too long or too short</em>
        </div>
    </details>
</div>