<div class="container text-center">
    <br>
    <h1 class="text-center">ABOUT US </h1>
    <br>
    <br>
    <div class="row">
        <div class="col">
            <div class="box">
                <img src="assets/amazingkuptm.jpg" width="70%" height="70%">
            </div>
        </div>
        <div class="col">
            <div class="box">
                <p style="text-align: justify;">KUPTM is an organisation built on trust, resilience,
                    and blessings. KUPTM education has successfully produced graduates who are holistically trained to
                    be knowledgeable and enterprising. Indeed, the enriching experiences gained through the authentic
                    simulations provided in our training have equipped our graduates not only with academic-related
                    knowledge but also with human skills that will give them an edge in the job market. The
                    establishment of clubs and associations at KUPTM has also helped produce many graduates who are
                    active and have a high leadership style. Therefore, this system was built to help many students at
                    KUPTM register clubs and associations established at KUPTM easily and quickly.</p>
            </div>
        </div>
        <br>
        <br>
        <h1 class="text-center" style="padding-top: 20px; padding-bottom: 10px;" >MEET THE TEAMS </h1>
        <br>
        <br>
        <div class="row">
            <div class="col">
                <div class="box">
                    <img src="assets/staff1.jpg" width="50%" height="70%">
                    <br><br>
                    <h4>NUR MARDHIHAH BINTI AHMAD</h4>
                    <h5>Assistant Registrar</h5>
                    <p>03-9206 9700 ext 709 <br>
                    E-mail: mardihah@gapps.kptm.edu.my</p>
                </div>
            </div>
            <div class="col">
                <div class="box">
                    <img src="assets/staff2.jpg" width="50%" height="70%">
                    <br><br>
                    <h4>SITI JAMALIAH BINTI JAMAL</h4>
                    <h5>Assistant to Assistant Registrar</h5>
                    <p>03-9206 9700 ext 653 <br>
                    E-mail: jamaliah@gapps.kptm.edu.my</p>
                </div>
            </div>
            
        </div>