<h2 class="head">Update Student's Information</h2>

<form>
  <hr>
      
      <label for="name"><b>STUDENT NAME</b></label>
      <input type="text" class="form-control" formControlName="name" placeholder="Enter Name" name="name">
  
      <label for="course"><b>COURSE</b></label>
      <input type="text" class="form-control" formControlName="course" placeholder="Enter Course" name="course">

      <label for="semester"><b>SEMESTER</b></label>
      <input type="text" class="form-control" formControlName="semester" placeholder="Enter Semester" name="semester">

      <label for="email"><b>EMAIL</b></label>
      <input type="text" class="form-control" formControlName="email" placeholder="Enter Email" name="email">

      <label for="clubId"><b>CLUB ID</b></label>
      <input type="text" class="form-control" formControlName="clubId" placeholder="Enter Club ID" name="clubId">

      <button type="submit" class="btn btn-primary">Update</button>

      <hr>
      
</form>