<div class="container text-center">
    <h1 class="text-center">WELCOME TO KUPTM CLUB REGISTERATION</h1>
    <br>
    <br>
    <div class="row">
        <div class="col">
            <div class="box">
                <img src="assets/hockeyclub.jpg" width="80%" height="80%">
                <h4>HOCKEY CLUB</h4>
            </div>
        </div>
        <div class="col">
            <div class="box">
                <img src="assets/badmintonclub.jpg" width="80%" height="60%">
                <h4>BADMINTON CLUB</h4>
            </div>
        </div>
        <div class="col">
            <div class="box">
                <img src="assets/futsalclub.jpg" width="80%" height="80%">
                <h4>FUTSAL CLUB</h4>
            </div>
        </div>
    </div>


